<div class="card">
	<img class="card-img-top" src={{ asset(picture_path ~ tutorial.picturePath) }} alt="{{ tutorial.title }}">
	<div class="card-body">
		<h5 class="card-title">{{tutorial.title}}</h5>
		{% for tag in tutorial.tags %}
			{% include "tag/_badge.html.twig" %}
		{% endfor %}
		<p class="card-text">{{ tutorial.objective }}</p>
        {% if app.user %}
        <a href="{{ path('app_tutorial_like', {'slug': tutorial.slug}) }}">
            <i class="bi bi-heart"></i>like
        </a>
        {% endif %}
        {% if app.user is empty %}
            <a href="{{ path('app_tutorial_like', {'slug': tutorial.slug}) }}">
                <i class="bi bi-heart"></i>like
            </a>
        {% endif %}
        <a href={{ path("app_tutorial_show", {"slug": tutorial.slug} )}} class="btn btn-primary">Commencer</a>
    </div>
</div>
