<div class="card">
	<img class="card-img-top" src={{ asset(picture_path ~ tutorial.picturePath) }} alt="{{ tutorial.title }}">
	<div class="card-body">
		<h5 class="card-title">{{tutorial.title}}</h5>
		<p class="card-text">{{ tutorial.objective }}</p>
		<a href={{ path("app_tutorial_show", {"slug": tutorial.slug} )}} class="btn btn-primary">Commencer</a>
        <a class="llb-button-yellow" href="{{ path('app_tutorial_like', {'slug': tutorial.slug}) }}">Je like</a>
    </div>
</div>
