<div class="card llb-tutorial-card">
    {% set userTutorial = userTutorials[tutorial.id] %}
    {% if userTutorial is not null %}
        {% if  userTutorial.isValidated %}
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" font-size="4em" style="fill: #FFCB05; transform: translateY(-2.5vw) translateX(10.5vw); background-color: white; border-radius: 50%; z-index:2; position: absolute ">
                <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/>
            </svg>
        {% endif %}
    {% endif %}
	<img class="card-img-top rounded-top" src={{ asset(upload_path ~ tutorial.picturePath) }} alt={{ upload_path ~ tutorial.picturePath }}>
	<div class="card-body llb-tutorial-card-body">
		<h3>{{tutorial.title}}</h3>

		<div class="d-flex justify-content-center mt-2 mb-3">
			{% for tag in tutorial.tags %}
				{% include "tag/_badge.html.twig" %}
			{% endfor %}
			<a class="llb-tag-badge d-flex align-items-center mb-0 text-decoration-none" style="margin-left: 4%; margin-right: 4%;" href={{ path("app_search_addFilter", {'filterRaw': "category_" ~ tutorial.theme.category.id} )}}>
				<span class="badge rounded-pill">
					{{ tutorial.theme.category.categoryTitle }}
				</span>
			</a>
			{% if app.user %}
				<a data-no-swup href="{{ path('app_tutorial_like', {'slug': tutorial.slug}) }}" id="wishlist" onclick="addToWishlist(event)">
					<svg xmlns="http://www.w3.org/2000/svg" width="1.5vw" height="1.5w" fill="{{ app.user.isInUserTutorialLiked(tutorial.title) ? '#0C5395' : '#dddddd' }}" class="bi bi-heart" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
					</svg>
				</a>
			{% endif %}
		</div>
		<p class="card-text">{{ tutorial.objective }}</p>
		<a href="{{ path("app_tutorial_show", {"slug": tutorial.slug} )}}" class="btn btn-primary llb-button-yellow llb-tutorial-card-button">Commencer</a>
	</div>
</div>
