{% extends 'base.html.twig' %}

{% block title %}Tutorial
{% endblock %}

{% block body %}
	<div class="llb-tutorial-show">

		<div class="llb-tutorial-show-start-card">
			<div class="llb-tutorial-show-start-card-left-div">
				<h6>
					{{ tutorial.theme.category.categoryTitle }}
					-
					{{ tutorial.theme.title }}
				</h6>
				<h2>{{tutorial.title}}</h2>

				<div class="llb-tutorial-show-start-card-tags-container">
					{% for tag in tutorial.tags %}
						{% include "tag/_badge.html.twig" %}
					{% endfor %}
				</div>
				<p>{{ tutorial.objective }}</p>
			</div>

			<img class="llb-tutorial-show-start-card-img" src={{ asset(upload_path ~ tutorial.picturePath) }} alt="{{ tutorial.title }}">
		</div>

		<div class="llb-tutorial-show-sequences-container">
			{% for sequence in tutorial.sequences %}
				{% include "sequence/_card.html.twig" %}
			{% endfor %}
		</div>

		<div class="llb-tutorial-show-end-card">
			<div>
				<h1>Je teste mes connaissances!</h1>
			</div>
			<a class="llb-button-yellow" href={{ path("app_quiz_start", {"quizTitle": tutorial.quiz.title} )}}>
				<button>Je commence le quiz</button>
			</a>
		</div>
	</div>
{% endblock %}
