{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <div class="QuestionNumber" id="question-" >
        {% set questionIndex = -1 %}

        {% for q in questions %}
            {% if q == question %}
                {% set questionIndex = loop.index %}
            {% endif %}
        {% endfor %}
        <div class="QuestionIndex">Question {{ questionIndex }} sur {{ questions|length }}</div>
        <div class="questionPrompt">{{ question.prompt }}</div>
        <div class="lineUnderQuestion"></div>
        <div class="propositions" >
            <button class="llb-button-proposition-quiz" value="{{ question.proposition1 }}" >{{ question.proposition1 }}</button>
            <button class="llb-button-proposition-quiz" value="{{ question.proposition2 }}" >{{ question.proposition2 }}</button>
            <button class="llb-button-proposition-quiz" value="{{ question.proposition3 }}" >{{ question.proposition3 }}</button>
            <button class="llb-button-proposition-quiz" value="{{ question.proposition4 }}" >{{ question.proposition4 }}</button>
        </div>
        <button class="validateQuestion" id="validate" type="submit">Valider ma réponse</button>

    </div>

    </div>
{% endblock %}
