{% extends 'base.html.twig' %}

{% block title %}Page Contact{% endblock %}

{% block body %}

    <div class="llb-background-light-blue llb-contact-size"></div>

        <section class="llb-form-global mt-5">
        <h1 class="h3 mt-0 font-weight-normal text-center">Contactez-nous</h1>
        <p>*Champs obligatoires</p>
        <div class="w-100 mt-5 ">

            {{ form_start(formulaireContact) }}
                {{ form_row(formulaireContact.email, {
                    label: 'Email*',
                }) }}
                {{ form_row(formulaireContact.name,{
                    label: 'Nom et Prénom*',
                    attr: {rows:1}
                }) }}
                {{ form_row(formulaireContact.objet, {
                    label: 'Objet*',
                    attr: {rows:2}
                }) }}

                {{ form_row(formulaireContact.message, {
                    label: 'Message*',
                    attr: { rows: 7  }
                 }) }}

                <div class="w-100 d-flex align-items-center justify-content-center " style="margin-top: 30px">
                    {{ form_row(formulaireContact.envoyer , { 'attr': {'class': 'llb-button-yellow'} }) }}
                </div>
            {{ form_end(formulaireContact) }}

            <img src="{{ asset('build/images/femme-assise.png') }}" class="image-card-trio-contact" alt="logo-card-femme">
        </div>
    </section>





{% endblock %}
