<nav class="navbar navbar-expand-lg llb-navbar">
	<div class="container-fluid">


		<a class="navbar-brand llb-navbar-brand" href="/">
			<img class="d-inline-block align-text-top" src={{ asset(icons_path ~ "LLB_Logo_White.png")}} alt="" width="30" height="30">
			La Ligne Bleue
		</a>


		<button class="navbar-toggler llb-navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon llb-navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse llb-navbar-collapse" id="navbarSupportedContent">

			{{ component("SearchBar") }}

			<ul class="navbar-nav me-auto mb-2 mb-lg-0 llb-navbar-buttons-container">


				<li class="nav-item">
					<a class="nav-link" href={{ path("app_category_index") }}>
						<button class="btn me-2 llb-navbar-button" type="button" id="js-tuto-navbar">Formations</button>
					</a>
				</li>

				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_user_show', {"id": app.user.id}) }}">
							<button class="btn me-2 llb-navbar-button" type="button" id="js-profil-navbar">Profil</button>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/logout">
							<button class="btn me-2 llb-navbar-button" type="button">Déconnexion</button>
						</a>
					</li>

				{% else %}
					<li class="nav-item">
						<a class="nav-link" href={{ path("app_register") }}>
							<button class="btn me-2 llb-navbar-button" type="button">Inscription</button>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href={{ path("app_login") }}>
							<button class="btn me-2 llb-navbar-button" type="button">Connexion</button>
						</a>
					</li>
				{% endif %}

				<li class="nav-item">
					<a class="nav-link" href="{{ path("admin") }}">
						<button class="btn me-2 llb-navbar-button" id="llb-navbar-contact" type="button">Contactez-nous</button>
					</a>
				</li>
			</ul>

		</div>
	</div>
</nav>

