<div{{attributes}}>
	{{ form_start(form, {'attr': {'class' : 'd-flex llb-navbar-search-container', role : "search"}}) }}
	{{ form_widget(form) }}
	<button class="btn btn-outline-success llb_navbar_search_button" type="submit">
		<img class="" src={{ asset(icons_path ~ "Search_loupe.png") }} alt="search" width="20" height="20">
	</button>
	{{ form_end(form) }}
	<ul style="position: absolute;">
		{% for tutorial in this.tutorials %}
			<li>{{ tutorial.title }}</li>
		{% endfor %}
	</ul>
</div>
